<p>login works!</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="id" placeholder="id" /><br />
  <p *ngIf="id && id.invalid && id.touched">invalid id</p>
  <input
    type="password"
    formControlName="password"
    placeholder="password"
  /><br />
  <p *ngIf="password && password.invalid && password.touched">
    invalid password
  </p>
  <button [disabled]="loginForm.invalid" type="submit">click</button>
</form>
