<p>form works!</p>
<input
  type="text"
  name="name"
  [(ngModel)]="model.name"
  #name="ngModel"
  required
/>
<p *ngIf="name.invalid">invlaid name</p>
<input
  type="text"
  name="number"
  [(ngModel)]="model.number"
  #number="ngModel"
  required
/>
<p *ngIf="number.invalid">invlaid number</p>
<button type="button" (click)="onSubmit()">click</button>

<!-- <form [formGroup]="profileForm" (ngSubmit)="loginUser()">
  <input type="text" formControlName="name" placeholder="username" /><br />
  <p *ngIf="name && name.errors?.invalidUsername && name.invalid">
    invalid username
  </p>
  <input type="text" formControlName="password" placeholder="password" /><br />
  <p *ngIf="password && password.invalid">invalid password</p>
  <button [disabled]="profileForm.invalid" type="submit">clear</button>
</form> -->
