.title {
  text-align: center;
}
.container {
  margin: 50px auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  input {
    padding: 7px;
  }
  p {
    padding: 3px;
    margin-top: -1px;
    color: red;
  }
}

.group-col {
  display: flex;
  flex-direction: column;
  input {
    margin: 5px;
    padding: 2px;
    width: 50%;
  }
}
