<p class="title">scale-test works!</p>
<div class="container">
  <form [formGroup]="myForm">
    <input type="text" placeholder="username" formControlName="username" />
    <p *ngIf="getUsername && getUsername.invalid">invalid</p>
    <div formArrayName="phonenumber">
      <div
        *ngFor="let addr of getPhoneNumber.controls; let i = index"
        [formGroupName]="i"
      >
        <br />
        phone-number:{{ i + 1 }}
        <div class="group-col">
          <input type="text" formControlName="phone" placeholder="phone" />
        </div>
        <button type="button" (click)="deletePhone(i)">del</button>
        <br />
        <br />
      </div>
    </div>
    <br />
    <button [disabled]="myForm.invalid" type="button" (click)="addPhone()">
      add address
    </button>
  </form>
  <br />
  Form: {{ myForm.value | json }}
</div>
